body{
    font-family: 'Playfair Display', serif;
    background-color: #FFEFA8;
}

h1{
    text-align: center;
}

#profilePic{
    margin-left: 34%;
    width: 450px;
    height: 300px;
}

h3{
    text-align: center;
}